MQTT_BROKER=localhost
MQTT_PORT=1883
MQTT_TOPIC=espresso/data
MQTT_USERNAME=
MQTT_PASSWORD=

BACKEND_READING_URL=http://127.0.0.1:5000/api/live/reading

DATA_FILE=data/rancilio-portafilter-dataset.parquet
PROCESS_ID=15
DELAY_SECONDS=1